@charset "utf-8";
/* CSS Document */

body {
	background-color: whitesmoke;
}

* {
  box-sizing: border-box;
}

h1 {
	font-family: 'Lobster', cursive;
}

h2 {
	font-family: 'Lobster', cursive;
}

h3 {
	font-family: 'Lobster', cursive;
}

p {
	font-family: 'Comfortaa', cursive;
	font-size: 14px;
}

form.searchbox input[type=text] {
    padding: 10px;
	margin-top: 10px;
	height: 33px;
    font-size: 15px;
    border-style: none;
    float: left;
    width: 80%;
    background: white;
}

form.searchbox button {
    float: left;
    width: 20%;
	margin: 10px 0px 10px 0px;
    padding: 4px;
    background: white;
    color: white;
    font-size: 18px;
	border-style: none;
    cursor: pointer;
	border-radius: 0 5px 5px 0;
}

form.searchbox button:hover {
    background-color: whitesmoke;
}

form.searchbox::after {
    content: "";
    clear: both;
    display: table;
}

.email {
	width: 280px;
	height: 40px;
	margin-bottom: 20px;
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	
	font-size: 15px;
	color: gray;
	padding-left: 20px;
}

.btn-submit{
	background-color: aqua;
}

.slide-align{
	margin-left: -15px;
	margin-right: -15px;
}

.maps-container {
	margin-top: 45px;
	position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.maps-container iframe {
	
	position: absolute;
    top:0;
    left: 0;
    width: 100%;
	height: 100%;
}

* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.subscribe {
	background-image: url(../Images/banner-bg-1.jpg);
background-repeat: repeat;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
	border-radius: 25px 25px 25px 25px;
-moz-border-radius: 25px 25px 25px 25px;
-webkit-border-radius: 25px 25px 25px 25px;
}

.subscribe:hover {
    background-color: #45a049;
}

.col-10 {
	float: left;
    width: 10%;
    margin-top: 10px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
@media (min-width: 768px) {
	.col-30 {
	float: left;
    width: 40%;
    margin-top: 10px;
	margin-left: 5%;
	margin-right: 5%;
}

}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 10px;
}

.col-45 {
	float: left;
    width: 45%;
    margin-top: 10px;
}

.col-50 {
	float: left;
    width: 48%;
    margin-top: 10px;
	margin-right: 2%;
}
.col-100 {
	float: left;
    width: 98%;
    margin-top: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

/*based on .well of bootstrap.css*/
.form-responsive{
	min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: inherit;
}

.setbgcl {
	background-color: white;
}

.setbgimg {
	background-image: url(../Images/cover5.png);
	background-repeat: repeat-y;
}

#myBtn {
    background-image: url(../Images/toTop.png);
    background-repeat: no-repeat;
    border: medium none;
    bottom: 10px;
    cursor: pointer;
    display: none;
    height: 50px;
    width: 50px;
    outline: medium none;
    padding: 0;
    position: fixed;
    right: 20px;
    z-index: 4;
	border-radius: 50%;
	-moz-border-radius: 30px 30px 30px 30px;
	-webkit-border-radius: 30px 30px 30px 30px;
	box-shadow: 0px -1px 20px 0px rgba(0,0,0,0.75);
}

#myBtn:hover {
	transform: scale(1.1);
}

.icon-service{
	position: fixed;
	right: 20px;
	bottom: 130px;
}

.myTooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 15px 15px 0px 15px;
    padding: 5px;
    position: absolute;
    z-index: 4;
    bottom: 40%;
    right: 120%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.myTooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.pre-next {
    background-color: lightgray;
    color: black;
}

.round {
	border-radius: 50%;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 18px;
  padding: 17px;
  text-align: center;
  border-radius: 0px 0px 300px 300px;
}

.box {
	position: relative;
}

.box:hover .overlay {
  opacity: 1;
}

.container-radio {
    display: inline-block;
    position: relative;
	height: 40px;
    padding-left: 30px;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*hide the default radio button*/
.container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/*create a custom radio button*/
.container-radio .checkmark {
    position: absolute;
    top: 12px;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: white;
	border: solid black 1px;
    border-radius: 50%;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: white;
	border: solid #000000 1px;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
 	top: 4px;
	left: 4px;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background: black;
}

.payment {
	background-color: black;
	width: 100%;
	text-align: center;
    color: white;
	font-weight: bold;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    float: none;
}

.payment:hover {
	background-color: #262626;
	color: white;
}

.image-responsive{
	display: inline-block;
	margin-right: 7px;
  max-width: 100%;
  height: auto;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  margin-top: -30px;
  padding: 0;
  width: 40%;
  max-width: 800px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 60px;
  right: 25px;
  font-size: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev-v2,
.next-v2 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next-v2 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev-v2:hover,
.next-v2:hover {
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}

.active-v2,
.demo:hover {
  opacity: 1;
}


.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-button {
	width: 30%;
  padding: 12px;
  border: none;
  margin: 4px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  text-decoration: none;
  float: right;
  background-color: black;
  color: white;
}

.login-button:hover {
	text-decoration: none;
	opacity: 1.5;
}

  /* Full-width input fields */
.container-login input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 35%;
    border-radius: 50%;
}

.container-login {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.close-login {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close-login:hover,
.close-login:focus {
    color: red;
    cursor: pointer;
}

.social-login a > i{
	font-size: 40px;
	opacity: 0.85;
}

.social-login a > i:hover {opacity: 1.5;}
.social-login a:hover {
	text-decoration: none;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

/* The bar container */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

/* Individual bars */
.bar-5 {width: 63%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 25%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 5%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 2%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 5%; height: 18px; background-color: #f44336;}

.rating {
	font-size: 15px;
	margin-left: -5px;
	height: auto;
	width: 150px;
}

.rating input {
	border: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	opacity: 0;
}

.rating label {
	position: relative;
	float: right;
  color: #C8C8C8;
}

.rating label:hover {
  cursor: pointer;
}

.rating label:before {
	margin: -2px;
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  font-size: 22px;
  color: #ccc;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.rating input:checked ~ label:before {
  color: #FFC107;
}

.rating label:hover ~ label:before {
  color: #FFC107;
}

.rating label:hover:before {
  color: #FFC107;
}
